
<%- include('../partials/abovetitle.ejs') %>
<title>library</title>
<%- include('../partials/below-title-bootstrap-link.ejs') %>
</head> 
<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar')%>
    <main class="container mt-5">
    <%- include('../partials/flash')%>
 
            
    </main>
    <%- include('../partials/footer')%>
   
</body>
</html>