<%- include('./partials/abovetitle.ejs') %>
<title>library</title>
<%- include('./partials/below-title-bootstrap-link.ejs') %> 
<body class="d-flex flex-column vh-100">
    <%- include('./partials/navbar')%>
    <main class="container mt-5">
        <%- include('./partials/flash')%>
        <div>
            <h1>Welcome to Library</h1>
        </div>
        <div>
            <p>
                you cannot delete info added by other people
            </p>
        </div>
        <div>
            <ul>
                <li>
                    <h1>
                        <a href="/books">All books</a>
                    </h1>
                </li>
                <li>
                    <h1>
                        <a href="/authors">All authors</a>
                    </h1>
                </li>
            </ul>
        </div>
    </main>
    <%- include('./partials/footer')%>
   
</body>
</html>